In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import statsmodels.api as sm
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv("/Users/en/Downloads/Recruitment_Transactions_ToBeDistributed.csv")
df.head()

,Unnamed: 0,the_transaction_id,the_date_transaction,sku_idr_sku,product_type,sports,but_name_business_unit,ctm_customer_id,the_to_type,f_qty_item,f_to_tax_in
0,1,7-1034-1034-20200708214026-101-8628,2020-07-08 21:40:26,0,NaN,NaN,City Square SG,NaN,offline,0,0.0
1,2,7-1034-1034-20200708164857-211-1734,2020-07-08 16:48:57,0,NaN,NaN,City Square SG,NaN,offline,0,0.0
2,3,7-1034-1034-20200701155410-102-6163,2020-07-01 15:54:10,0,NaN,NaN,City Square SG,NaN,offline,0,0.0
3,4,7-1034-1034-20200713202706-102-7516,2020-07-13 20:27:06,0,NaN,NaN,City Square SG,NaN,offline,0,0.0
4,5,7-1034-1034-20200727160812-211-4800,2020-07-27 16:08:12,0,NaN,NaN,City Square SG,NaN,offline,0,0.0

In [5]:
(df.duplicated()).sum()

0

In [6]:
df.shape[0]

5496751

In [10]:
# fill 0 for NaN part in ''ctm_customer_id"
df.ctm_customer_id.fillna(0, inplace = True)
df.head()

,Unnamed: 0,the_transaction_id,the_date_transaction,sku_idr_sku,product_type,sports,but_name_business_unit,ctm_customer_id,the_to_type,f_qty_item,f_to_tax_in
0,1,7-1034-1034-20200708214026-101-8628,2020-07-08 21:40:26,0,NaN,NaN,City Square SG,0,offline,0,0.0
1,2,7-1034-1034-20200708164857-211-1734,2020-07-08 16:48:57,0,NaN,NaN,City Square SG,0,offline,0,0.0
2,3,7-1034-1034-20200701155410-102-6163,2020-07-01 15:54:10,0,NaN,NaN,City Square SG,0,offline,0,0.0
3,4,7-1034-1034-20200713202706-102-7516,2020-07-13 20:27:06,0,NaN,NaN,City Square SG,0,offline,0,0.0
4,5,7-1034-1034-20200727160812-211-4800,2020-07-27 16:08:12,0,NaN,NaN,City Square SG,0,offline,0,0.0

A. The average basket size and average basket value of members and non-members per store

In [11]:
df['but_name_business_unit'].unique()

array(['City Square SG', 'Joo Koon', 'Website', 'Decathlon Velocity',
       'Decathlon Holland Village', 'Singapore Lab', 'Centre Point',
       'SunPlaza', 'Waterway Point', 'Tampines Mall', 'Chinatown Point',
       'Tiong Bahru Plaza', 'Bedok SG'], dtype=object)

In [12]:
# members average basket size
f_qty_mem_item = df.f_qty_item[(df.the_to_type =='offline') & (df.ctm_customer_id != 0 )]
grouped_mem_qty = f_qty_mem_item.groupby(df['but_name_business_unit'])
grouped_mem_qty.mean()

but_name_business_unit
Bedok SG                     2.967219
Centre Point                 2.961750
Chinatown Point              2.949328
City Square SG               2.959658
Decathlon Holland Village    2.962058
Decathlon Velocity           2.959630
Joo Koon                     2.965076
Singapore Lab                2.974454
SunPlaza                     2.941957
Tampines Mall                2.944999
Tiong Bahru Plaza            2.956281
Waterway Point               2.938148
Name: f_qty_item, dtype: float64

In [13]:
print("The average basket size for members in different stores are indicated above ")

The average basket size for members in different stores are indicated above

In [14]:
# members average basket value
f_tax_mem = df.f_to_tax_in[(df.the_to_type =='offline') & (df.ctm_customer_id != 0 )]
grouped_mem_tax = f_tax_mem.groupby(df['but_name_business_unit'])
grouped_mem_tax.mean()

but_name_business_unit
Bedok SG                     61.729600
Centre Point                 59.433639
Chinatown Point              57.757971
City Square SG               60.771859
Decathlon Holland Village    63.239374
Decathlon Velocity           59.772989
Joo Koon                     59.597378
Singapore Lab                61.272424
SunPlaza                     60.709535
Tampines Mall                58.850741
Tiong Bahru Plaza            56.974302
Waterway Point               60.647169
Name: f_to_tax_in, dtype: float64

In [15]:
print("The average basket value for members in different stores are indicated above ")

The average basket value for members in different stores are indicated above

In [16]:
# non-members average basket size
f_qty_non_mem_item = df.f_qty_item[(df.the_to_type =='offline') & (df.ctm_customer_id == 0 )]
grouped_non_mem_qty = f_qty_non_mem_item.groupby(df['but_name_business_unit'])
grouped_non_mem_qty.mean()

but_name_business_unit
Bedok SG                     2.948943
Centre Point                 2.945898
Chinatown Point              2.925357
City Square SG               2.937751
Decathlon Holland Village    2.936667
Decathlon Velocity           2.941670
Joo Koon                     2.943899
Singapore Lab                2.960372
SunPlaza                     2.925516
Tampines Mall                2.936715
Tiong Bahru Plaza            2.937971
Waterway Point               2.910174
Name: f_qty_item, dtype: float64

In [17]:
print("The average basket size for non-members in different stores are indicated above ")

The average basket size for non-members in different stores are indicated above

In [18]:
# non-members average basket value
f_tax_non_mem = df.f_to_tax_in[(df.the_to_type =='offline') & (df.ctm_customer_id == 0 )]
grouped_non_mem_tax = f_tax_non_mem.groupby(df['but_name_business_unit'])
grouped_non_mem_tax.mean()

but_name_business_unit
Bedok SG                     61.419650
Centre Point                 58.790670
Chinatown Point              60.020623
City Square SG               60.936726
Decathlon Holland Village    64.373703
Decathlon Velocity           59.887444
Joo Koon                     59.255428
Singapore Lab                61.630834
SunPlaza                     60.714350
Tampines Mall                58.328623
Tiong Bahru Plaza            57.523402
Waterway Point               62.620201
Name: f_to_tax_in, dtype: float64

In [19]:
print("The average basket value for non-members in different stores are indicated above ")

The average basket value for non-members in different stores are indicated above

B. There are 3 main channels for customers to shop with us :
    Experience stores, 
    C&C stores
    and Online. 
    Find the proportion (in %) of members who shopped at each channel exclusively 
    as well as the different possible combinations of channels.

In [20]:
# total members customer amount
total_cus = df.ctm_customer_id[(df.ctm_customer_id != 0 )].count()
total_cus

3437470

In [21]:
# Experience stores specifical table (es is short for Experience stores)
es = df[df['but_name_business_unit'].isin(['Bedok SG', 'City Square SG', 'Joo Koon', 'Singapore Lab', 'Centre Point']) & df['ctm_customer_id'] != 0]
es.head()

,Unnamed: 0,the_transaction_id,the_date_transaction,sku_idr_sku,product_type,sports,but_name_business_unit,ctm_customer_id,the_to_type,f_qty_item,f_to_tax_in
5,6,7-1034-1034-20200712110938-102-7275,2020-07-12 11:09:38,0,NaN,NaN,City Square SG,VP6PDPPUUX,offline,0,0.0
12,13,7-1034-1034-20200807184137-102-417,2020-08-07 18:41:37,0,NaN,NaN,City Square SG,556733IPSV,offline,0,0.0
13,14,7-1034-1034-20200703165227-208-4483,2020-07-03 16:52:27,0,NaN,NaN,City Square SG,8TBF10SJ0U,offline,0,0.0
15,16,7-1034-1034-20200702183935-102-6365,2020-07-02 18:39:35,0,NaN,NaN,City Square SG,34X607907K,offline,0,0.0
16,17,7-1034-1034-20200705172933-102-6792,2020-07-05 17:29:33,0,NaN,NaN,City Square SG,6GNA8IPJNL,offline,0,0.0

In [22]:
# total customers in experience stores
es_total_cus = es.ctm_customer_id.count()
es_total_cus

2642910

In [23]:
# C&C stores specifical table (cc is short for C&C stores)
cc = df[df['but_name_business_unit'].isin(['Decathlon Velocity', 'Decathlon Holland Village', 'SunPlaza', 
                                           'Waterway Point', 'Tampines Mall','Tiong Bahru Plaza','Chinatown Point']) & df['ctm_customer_id'] != 0]
cc.head()

,Unnamed: 0,the_transaction_id,the_date_transaction,sku_idr_sku,product_type,sports,but_name_business_unit,ctm_customer_id,the_to_type,f_qty_item,f_to_tax_in
210,211,7-1992-1992-20200815120534-101-2428,2020-08-15 12:05:34,0,NaN,NaN,Decathlon Velocity,4FGL04F4YV,offline,0,0.0
211,212,7-1979-1979-20200721202856-101-5223,2020-07-21 20:28:56,0,NaN,NaN,Decathlon Holland Village,L2OVIR2CXX,offline,0,0.0
222,223,7-1979-1979-20201025113659-101-7783,2020-10-25 11:36:59,0,NaN,NaN,Decathlon Holland Village,Q4MRGYC6PP,offline,0,0.0
227,228,7-1979-1979-20200710174446-101-4655,2020-07-10 17:44:46,0,NaN,NaN,Decathlon Holland Village,T8BR4AH1WK,offline,0,0.0
233,234,7-1992-1992-20201006120824-101-5224,2020-10-06 12:08:24,0,NaN,NaN,Decathlon Velocity,U0P61U7LFS,offline,0,0.0

In [24]:
# total customers in c&c stores
cc_total_cus = cc.ctm_customer_id.count()
cc_total_cus

264109

In [25]:
# online stores specifical table 
online = df[df['but_name_business_unit'].isin(['Website']) & df['ctm_customer_id'] != 0]
online.head()

,Unnamed: 0,the_transaction_id,the_date_transaction,sku_idr_sku,product_type,sports,but_name_business_unit,ctm_customer_id,the_to_type,f_qty_item,f_to_tax_in
159,160,7-1871-1871-20201007162914-114-5449,2020-10-07 16:29:14,0,NaN,NaN,Website,TM0WVMCD4L,online,0,0.0
167,168,7-1871-1871-20201007143344-114-5437,2020-10-07 14:33:44,0,NaN,NaN,Website,MNNEJ2H372,online,0,0.0
475,476,7-2459-2459-20200923214628-102-851,2020-09-23 21:46:28,1718267,NaN,NaN,Website,E1OWOWPT1K,online,5,110.5
486,487,7-2459-2459-20201122103347-213-664,2020-11-22 10:33:47,0,NaN,NaN,Website,UJTE59D75E,online,0,0.0
585,586,7-2459-2459-20201013122409-213-235,2020-10-13 12:24:09,0,NaN,NaN,Website,6FYDRC3PGA,online,0,0.0

In [26]:
# total customers in online stores
online_total_cus = online.ctm_customer_id.count()
online_total_cus

530451

In [27]:
#pop is short for proportion
pop_es =  es_total_cus /total_cus
print( 'The proportion of members who shopped at Experience stores is' +" " + str('%.2f%%' % (pop_es * 100)))

pop_cc = cc_total_cus /total_cus
print( 'The proportion of members who shopped at C&C stores is' +" " + str('%.2f%%' % (pop_cc * 100)))

pop_online = online_total_cus /total_cus
print( 'The proportion of members who shopped at online stores is' +" " + str('%.2f%%' % (pop_online * 100)))

The proportion of members who shopped at Experience stores is 76.89%
The proportion of members who shopped at C&C stores is 7.68%
The proportion of members who shopped at online stores is 15.43%

In [28]:
# Both Experience stores and C&C shops 
es_cc_inner = pd.merge(cc, es,  how='inner' , on ='ctm_customer_id')
es_cc = len(list(set(es_cc_inner.ctm_customer_id)))
es_cc

37864

In [29]:
# Both Experience stores and online shops 
es_online_inner = pd.merge(es, online ,how='inner' , on ='ctm_customer_id')
es_online = len(list(set(es_online_inner.ctm_customer_id)))
es_online

44774

In [30]:
# Both C&C stores and online shops 
cc_online_inner = pd.merge(cc, online ,how='inner' , on ='ctm_customer_id')
cc_online = len(list(set(cc_online_inner.ctm_customer_id)))
cc_online

20232

In [31]:
# C&C stores, Experience stores and online shops 
es_cc_online_inner = pd.concat([es,cc,online],ignore_index=True)
es_cc_online = len(list(set(es_cc_online_inner.ctm_customer_id)))
es_cc_online

384897

In [32]:
pop_es_cc = es_cc / total_cus
print( 'The proportion of members who shopped in both Experience stores and C&C shops is' +" " + str('%.2f%%' % (pop_es_cc * 100)))

pop_es_online = es_online/total_cus
print( 'The proportion of members who shopped in both Experience stores and online stores is' +" " + str('%.2f%%' % (pop_es_online * 100)))

pop_cc_online = cc_online / total_cus
print( 'The proportion of members who shopped in both online stores and C&C shops is' +" " + str('%.2f%%' % (pop_cc_online * 100)))

pop_es_cc_online = es_cc_online / total_cus
print( 'The proportion of members who shopped in all chnnels( online stores, Experience stores and C&C shops is' +" " 
      + str('%.2f%%' % (pop_es_cc_online * 100)))

The proportion of members who shopped in both Experience stores and C&C shops is 1.10%
The proportion of members who shopped in both Experience stores and online stores is 1.30%
The proportion of members who shopped in both online stores and C&C shops is 0.59%
The proportion of members who shopped in all chnnels( online stores, Experience stores and C&C shops is 11.20%

C. If there is any timing of the day that is most popular for purchases in stores?

In [33]:
# I have a soultion but my computer cannot download TimeGrouper,  I've listed it below, too.
# df.groupby(pd.Grouper(key='the_transaction_id',freq='2H'))
df[['Date','Time']] = df.the_date_transaction.str.split(' ',expand=True) 
df.Time

0          21:40:26
1          16:48:57
2          15:54:10
3          20:27:06
4          16:08:12
             ...
5496746    20:13:12
5496747    15:32:54
5496748    18:48:07
5496749    18:48:07
5496750    18:48:07
Name: Time, Length: 5496751, dtype: object

In [38]:
i = 0
tupe = [0]*24
for i in range (0, len(df.Time)):
    tupe[df.Time[i][0].astype('float')] = tupe[df.Time[i][0].astype('float')] + df.Time[i][1]
print(tupe)
time = 0
for n in range(0,len(tupe)): 
    print( "the clock's %d have %s times" %(time,tupe[n]))
    time = time + 1

AttributeError: 'str' object has no attribute 'astype'

Part 2: What are the products selling well together?
A department manager in charge of yoga is interested to find out what are the products selling well together in relation to yoga products.

Describe clearly how you will work on this problem and what are the kind of insights you would draw from it. Coding for this part is optional.

In [29]:
# STEP1 : find transcations of customers who buy yoga products (by using contain.str or other methods)
# STEP2:  Extract several useful columns from the step1 table 
# STEP3: try to find out what other things they buy when they buy yoga products
# STEP4: Try to calcaute the correlation of these products with YOGA products
# STEP5 : If we find a strong corrlearion  between one product with YOGA products, we can put them together

In [30]:
# use unique() to see if there are any different types behavior may conclude a wrong conclusion
df['product_type'].unique()

array([nan, 'UNDEFINED', 'SHOES', 'WATER BAG', 'SUNGLASSES',
       'WATER BOTTLE', 'SHORTS', 'SKORT', 'WATER BOTTLE BE', 'CAP',
       'RUNNING MID TIG', 'RUNNING LONG TI', 'T-SHIRT', 'WATER POUCH',
       'GAITERS', 'CUP', 'HEADLAMP', 'WINDBREAKER', 'LONG-SLEEVED T-',
       'RUNNING 3/4 TIG', 'SKIRT', 'QUIVER', 'TANK', 'CLIMBING SLIPPE',
       'CLIMBING CHALK', 'SNAP HOOK', 'HARNESS', 'BRUSH', 'TROUSERS',
       'QUICKDRAW', 'CLIMBING ACCESS', 'MITTENS', 'CHALK BAG', 'SLIPPERS',
       'BACKPACK', 'CLIMBING LANYAR', 'GLOVES', 'CLIMBING ROPE', 'HELMET',
       'LEGGINGS', 'SLACKLINE', 'SPORTS BAG', 'BELAY GLASSES',
       'BELAY DEVICE', 'CLIMBING HOLD', 'SLING', 'BERMUDA SHORTS',
       'VIA FERRATA LAN', 'YOGA MAT', 'YOGA BLOCK', 'MAT CLEANER',
       'NON SLIP TOWEL', 'SPORTS BRA', 'CROPPED LEGGING', 'STORAGE COVER',
       'SOCKS', 'QUICKDRAW SLING', 'PAD', 'CLAMPING STRAP', 'PILLOW',
       'BOLSTER', 'KITE', 'HANDLE', 'REPAIR KIT', 'BOARDBAG', 'HAND PUMP',
       'NET TABLE TENNI', 'TABLE TENNIS BA', 'BLADE CLEANER',
       'TABLE TENNIS TA', 'PROTECTION', 'BASKET BALL', 'BASKETBALL NET',
       'KNEE SUPPORT', 'TIGHTS', 'WRIST SUPPORT', 'NET',
       'ANKLE BRACE SUP', 'ELBOW SUPPORT', 'KINESIOLOGY TAP',
       'LUMBAR BELT', 'SLEEVELESS T-SH', 'FINGER SUPPORT',
       'SUPPORT STRIP', 'THUMB SUPPORT', 'SHOULDER BRACE', 'ELBOW GUARD',
       'BASE LAYER', 'CALF SUPPORT', 'KNEE PAD', 'NETBALL BALL',
       'HEADBAND', 'HOOP', 'THIGH BRACE SUP', 'COACHING FOLDER',
       'UNDERSHORTS', 'BINDING', 'BAG', 'BIKINI BOTTOM', 'BIKINI TOP',
       'BOARDSHORTS', 'SURF SHORTY WET', 'TOP', 'FLIP-FLOPS',
       '1-PIECE SWIMSUI', 'FLYING DISC', 'BOOMERANG', 'HAT',
       'CHANGING ROBE', 'BIKINI', 'TOWEL', 'WAX', 'SANDALS',
       '2 PIECES SWIMSU', 'BODY-BOARD', 'LEASH', 'SURFBOARD', 'SUIT',
       'SURF WETSUIT', 'SKIMBOARD', 'FIN', 'BUOYANCY VEST',
       'NEOPRENE TOP', 'WAKEBOARD', 'PARASOL', 'RUGBY BALL',
       'COMPRESSION SUP', 'SHORT-SLEEVE JE', 'MOUTHGUARD', 'RUGBY BOOTS',
       'BODY ARMOUR', 'COLD PACK', 'SLEEVELESS JERS', 'ADHESIVE TAPE',
       'ICE BAG', 'SET', 'TEE', 'RUGBY POLES', 'CARRY CASE',
       'BOXING HAND WRA', 'BOXING GLOVES', 'BALL', 'INNER GLOVES',
       'FOCUS PAD', 'SHINGUARD', 'SHIELD', 'GROIN GUARD',
       'GRAPPLING GLOVE', 'PUNCH BAG', 'GLOVE DRYER', 'ELASTIC TRAININ',
       'BAG SUPPORT', 'SHIN AND FOOT G', 'ANKLE BRACE', 'CRICKET BAT',
       'LONG-SLEEVED SH', 'SHORT-SLEEVED P', 'BASEBALL BAT',
       'BODY PROTECTOR', 'SLEEVE', 'GRIP', 'TIGHTENING CLAM', 'SERVICE',
       'BRAKE', 'FOLDING SYSTEM', 'KAYAK', 'RIM STRIP', 'WORKSHOP PRODUC',
       'WHEEL AXLE', 'WHEEL', 'INFLATABLE VALV', 'BLADDER', 'KAYAK FLOOR',
       'FOAM PAD', 'HEART RATE MONI', 'BADMINTON RACKE',
       'FEATHER SHUTTLE', 'PLASTIC SHUTTLE', 'BADMINTON NET', 'GRIP TAPE',
       'RACKET STRINGIN', 'DRESS', 'WATERPROOF BAG', 'PADDLE',
       'WATERTIGHT POCK', 'NEOPRENE BOOTIE', 'SEAT PAD', 'ELECTRIC PUMP',
       'STAND UP PADDLE', 'WATERTIGHT BOX', 'KAYAK SPRAY SKI',
       'WATERTIGHT CONT', 'SWIM TOP', 'BUOYANCY BELT', 'SWIMMING GLOVES',
       'WEIGHT', 'SWIM BOTTOM', 'DUMBBELL', 'AQUASHOES', 'FOAM ROLLER',
       'HANDGRIP', 'BALANCE BOARD', 'WEIGHT PLATE', 'BARBELL PAD',
       'LIFTING STRAP', 'ELASTIC', 'MASSAGE BALL', 'SHAKER',
       'PUSH UP BAR', 'DUMBBELLS KIT', 'KETTLEBELL', 'WEIGHT LOCK',
       'GYMNASTICS GRIP', 'TRACTION BAR', 'GLIDING DISC', 'WEIGHTED VEST',
       'SKIPPING ROPE', 'WEIGHTED BELT', 'BAR', 'ELASTIC BAND',
       'ANKLE STRAP', 'RING', 'SHORT-SLEEVED S', 'SUSPENSION STRA',
       'DIPS STATION', 'ROPE', 'PRESS BENCH', 'ABDOMINAL WHEEL', 'KIT',
       'FITNESS TOWER', 'WEIGHTLIFTING BUMPER DISC', 'SQUAT RACK',
       'MEDICINE BALL', 'PLYO BOX', 'WEIGHTLIFTING BAR',
       'WEIGHT TRAINING', 'MULTI-FUNCTION', 'HOME GYM', 'TRICEPS ROPE',
       'FITNESS MAT', 'BAR RACK', 'FLASH LIGHT', 'ARM GUARD', 'WATCH',
       'EARPHONE', 'CALF COMPRESSIO', 'SHOE BAG', 'DYNAMO LIGHT', 'GPS',
       'POUCH', 'LAMP', 'BELT', 'STRAP', 'JACKET', 'RUNNING SHORT T',
       'MP3 PLAYER', 'CHEST LAMP', 'REFLECTIVE ARMB', 'STOPWATCH',
       'TRACK SHOES', 'SPIKE WRENCH', 'JERSEY', 'ATHLETICS SPIKE',
       'HOCKEY STICK', 'HOCKEY GLOVE', 'SHAMMY', 'INNER TUBE',
       'SEAT POST CLAMP', 'LUBRICANT', 'STEM', 'MULTI-TOOL', 'BRAKE PADS',
       'STEM CAP', 'DERAILLEUR CABL', 'SADDLE COVER', 'BIKE SADDLE',
       'TOOLBOX', 'BRAKE LEVER', 'TYRE LEVER', 'CYCLE RACK', 'BIKE RACK',
       'CHAIN', 'BRAKE PAD', 'BRAKE CABLE END', 'QUICK RELEASE C',
       'GEAR SHIFTER', 'BRAKE CABLE', 'FRAME PROTECTIO', 'GUIDE PIPE AND',
       'DERAILLEUR HOSE', 'CABLE END CAP', 'WORKSHOP STAND',
       'HANDLEBAR CAP', 'TOOL CASE', 'SEATPOST', 'TRANSPORT COVER',
       'DEGREASER', 'CHAIN TOOL', 'CABLE AND HOUSI', 'FREE WHEEL',
       'BAR ENDS', 'DERAILER PROTEC', 'CASSETTE', 'BRAKE CALLIPER',
       'BRAKE CABLE AND', 'DERAILLEUR', 'SPACER', 'CHAINSET GUARD',
       'BRAKE DISC', 'HANDLEBAR', 'LUBRICATING GRE', 'BIKE HOOK',
       'BRAKE KIT', 'BOTTOM BRACKET', 'CHAINSET', 'DERAILLEUR STEM',
       'CUSTOMISATION K', 'BIKE CLEANER', 'GOAL', 'SUN HAT',
       'SHORT WELLIES', 'BINOCULARS', 'BINOCULAR HARNESS', 'WELLIES',
       'KNIFE', 'TRIPOD', 'TELESCOPE.', 'BEACH TENNIS NE',
       'BEACH TENNIS RA', 'HOCKEY STICK BA', 'ICE SKATE', 'SKATE GUARDS',
       'VOLLEY BALL', 'NET VOLLEYBALL', 'NEOPRENE WETSUI', 'BOTTLE CAGE',
       '3/4 CYCLING BIB', 'SADDLE BAG', 'METER MAGNET', 'PADDED CYCLING',
       'ROAD BIKE', 'BOTTLE CAGE BOL', 'BEANIE', 'CLIP ON AEROBAR',
       'BIKE COMPUTER', 'HANDLEBAR TAPE', 'PEDAL CLEATS', 'PEDAL',
       'WHEEL RISER BLO', 'SMARTPHONE BRACKET HOLDER',
       'WATCH BRACKET HOLDER', 'BIB SHORTS', 'BINDINGS MODULE',
       'TRIATHLON SUIT', 'HANDLEBAR BAG', 'ADAPTOR', 'TYRE',
       'TURBO TRAINER', 'FOAM MAT', 'RAIN JACKET', 'FRAME BAG',
       'TRANSITION BAG', 'CYCLING TIGHTS', 'SKATEBOARD', 'CRUISER SKATE',
       'LONGBOARD SKATE', 'WAVE BOARD', 'DECK', 'TRUCK', 'SCREWS',
       'CUSHION', 'PAD-SKATE', 'PILATES MAT', 'LEGGING 7/8', 'SOFT BALL',
       'TONING HANDLE', 'BOXERS', 'PUMP', 'REHABILITATION',
       'BALANCE DISC', 'ABS EQUIPMENT', 'WEIGHTED BALL',
       'ALIGNEMENT STIC', 'SWEATSHIRT', 'SWISS BALL', 'GYM BALL BASE',
       'KICK SCOOTER CO', 'SCOOTER', 'STORAGE RACK', 'STICKER', 'PEGS',
       "KID'S SCOOTER S", 'BRA', 'STEPPER', 'TRAMPOLINE', 'SCRUNCHY',
       'TREADMILL', 'BOTTLE HOLDER', 'STEP', 'EXERCISE BIKE',
       'CROSS TRAINER', 'STUDIO BIKE', 'ROWING MACHINE', 'LIFE JACKET',
       'BASELAYER BOTTO', 'BOAT ROPES', 'VISOR', 'SQUASH BALL',
       'SQUASH RACKET', 'SAFETY GLASSES', 'HALF-POINT', 'BUN KIT',
       'LEOTARD', 'WRAP-AROUND TOP', 'SKIRT LEOTARD', 'HIKING POLE',
       'RAIN CAPE', 'SLEEVELESS JACK', 'BATTERY', 'BAG COVER', 'TORCH',
       'BLISTER PROTECT', 'PADLOCK', 'SURVIVAL BLANKE', 'TRAVEL PILLOW',
       'GLOVE LINER', 'LACES', 'CUTLERY', 'CHEST STRAP', 'POLES PADS',
       'SLEEPING BAG', 'MATTRESS', 'MOSQUITO NET', 'TRAVEL BAG',
       'POWER BANK', 'FASTENING BUCKL', 'TARP', 'CHARGER', 'WASH BAG',
       'TENT', 'DOWN JACKET', 'PADDED JACKET', 'COOKSET', 'OVERTROUSERS',
       'WINDSHIELD', 'TENT PEGS', 'POLE BASKETS', 'SLEEPING BAG LI',
       'SOFTSHELL', 'LONGJOHNS', 'MONEY BELT', 'FIRST-AID KIT',
       'GROUNDSHEET', 'TENT CORD', 'TENT POLES', 'AMERICAN FOOT B',
       'BASEBALL', 'BAIT PUMP', 'FLOOR PUMP', 'KEEP NET ARM', 'STAND',
       'DOODAD STRAPS', 'HAND PUMP HOSE', "BIKE PUMP'S HEA",
       'HYBRID BIKE', 'MUDGUARD', 'MOUNTAIN BIKE', 'KIMONO BELT',
       'LONG-SLEEVED BA', 'NUNCHUKS', 'UNIFORM', 'DOBOK',
       'FOOT PROTECTION', 'MASK', 'SNORKEL', 'MASK STRAP',
       'COMPUTER COVER', 'SNORKELING SET', 'NEOPRENE SHORTY',
       'NEOPRENE SUIT', 'SAFETY BUOYS DI', 'BOOTIES', 'CORRECTIVE LENS',
       'BALACLAVA', 'OCTOPUS HOLDER', 'SNORKELING BUOY',
       'OBSERVATION BUO', 'LIGHTING ACCESS', 'WINDER', 'DIVING REGULATO',
       'COMPASS', 'UNDERWATER SLAT', 'BUOYANCY COMPEN', 'HOOK KNIFE',
       'SNORKEL ATTACHM', 'CAMERA MOUNT', 'WEIGHT BELT', 'WRIST LOOP',
       'FIN STRAP', 'DIVING MOUTHPIECE', 'ELEVATED PRESSU', 'MANOMETER',
       'OCTOPUS', 'SMARTPHONE HOLDER', 'BOXER SHORTS', 'BRIEFS',
       'CROPPED TROUSER', 'INSOLES', 'WASH NET', 'BRA EXTENDER',
       'CYCLING SHORTS', 'WATER BAG NOZZL', 'TOE-CLIP', 'SNOW BOOTS',
       'WATER POLO BALL', 'SWIMSUIT', 'WATER POLO CAP', 'PROTECTIVE COVE',
       'PULLOVER', 'TEE BAG', 'GOLF BALL', 'UMBRELLA', 'IRON HEAD COVER',
       'PUTTING SET', 'GOLF CHIPPER', 'SLEEVELESS POLO', 'BALL STENCIL',
       'GOLF SHOES', 'GOLF BAG', 'ALIGNMENT STICK', 'PUTTER HEAD COV',
       'GOLF SINGLE IRO', 'PUTTER', 'BALL MARKER', 'DIVOT TOOL',
       'PUTTING MAT', 'BALL COLLECTOR', 'SCORER', 'CHIPPING NET',
       'DRIVER', 'TROLLEY', 'PRACTICE MAT', 'RANGEFINDER', 'GOLF SET',
       'BALL RETRIEVER', 'HYBRID GOLF CLU', 'PRACTICE NET', 'WEDGE',
       'DRIVER HEAD COV', 'SET OF IRONS', 'FAIRWAY WOODS', 'BASKET',
       'FOLDING BIKE', 'SAFETY VEST', 'TROUSER CLIP', 'LUGGAGE RACK',
       'PEANUT BALL', 'JUMPING BALL', 'SHORT UNITARD', 'TAPE', 'RG CLUB',
       'TUNNEL', 'TEE-SHIRT ML', 'GYM MAT', 'PROTECTION KIT',
       'INLINE SKATES', 'BEARING', 'CONE', 'WRIST GUARD', 'GIFT CARD',
       'TENNIS BALL', 'TENNIS RACKET', 'WRIST', 'MAST', 'ANTI-VIBRATION',
       'SPEEDBALL BALL', 'SPEEDBALL RACKE', 'RACKET SPORT BA',
       'TENNIS TRAINER', 'BALL NET', 'DEODORANT', 'TENNIS NET',
       'TUBE PICKUP', 'BALL BASKET', 'SWIM CAP', 'SWIMMING GOGGLE',
       'ANTI-FOGGING', 'LEGSUIT', 'BABY SEAT SWIN', 'KICK BOARD',
       'SWIMMING ARMBAND', 'SWIM RING', 'EARPLUG', 'NOSE PLUG',
       'SWIM NOODLE', 'FULL BODY SWIMS', 'PULL BUOY', 'SHOWER SHAMPOO',
       'DISPOSABLE SWIMMING PANTIES', 'SWIMMING PADDLE', 'SWIM SHORTS',
       'SWIM FLOAT BELT', 'SHOWER GEL', 'SWIMMING POOL D', 'SWIM VEST',
       'BABY AQUATIC CA', 'CLOGS', 'POOL', 'SWIMMING BUOY', 'JAMMER',
       'HAND MASSAGER', 'CEREAL BAR', 'DRINK', 'ENERGY GEL',
       'MASSAGE STICK', 'HOT / COLD PACK', 'ANTI-CHAFING CR',
       'MASSAGE GEL', 'COMPRESSION SOC', 'SUNSCREEN', 'AFTER SUN LOTIO',
       'CAMPING TABLE', 'STOOL', 'FOLDING CHAIR', 'ISOTHERMAL BOTT',
       'HEEL PAD', 'FLEECE', 'GLASSES STRAP', 'ISOTHERMAL CASE',
       'GLASSES CLIP', 'PLATE', 'BOWL', 'GLASSES CASE', 'KETTLE',
       'MAGNIFYING GLAS', 'MONOCULAR', 'MULTIFUNCTION K',
       'FIT OVER SUNGLA', 'CLEANSING WIPE', 'FOOD JAR', 'BOTTLE CAP',
       'CAMP STOVE', 'DESCRIPTION HOL', 'ORIENTEERING CO', 'LOCK', 'BELL',
       'BIKE LIGHT', 'BIKE PANNIER', 'CHILD BIKE SEAT', 'REARVIEW MIRROR',
       'BABY SEAT MOUNT', 'URBAN CLASSIC BIKE', 'REFLECTOR',
       'BABY CARRIER', 'TOURING BIKE', 'HAND/FOOT-WARME', 'SKI GOGGLES',
       'SCARF', 'CRAMPON ANTIBAL', 'RUG', 'HAMMOCK', 'BLANKET', 'CHAIR',
       'LANTERN', 'SHOVEL', 'SHELTER', 'COOLER BOX', 'FREEZER PACK',
       'JERRYCAN', 'LUNCHBOX', 'CAMP BED', 'STOW POCKET', 'POLE SECTION',
       'FOOD BOX', 'SHOWER CABIN', 'SELF-INFLATING', 'SHOWER',
       'TENT POLE ELAST', 'MALLET', 'WINDBREAK', 'WASHING-UP BOWL',
       'REPAIR TAPE', 'MATTRESS CAP', 'DARTBOARD', 'LEG PADDS', 'ARROW',
       'BOW', 'DART', 'DARTS FEATHER', 'BOULES CIRCLE', 'TARGET',
       'DART TIP', 'DART SHAFT', 'BOULE', 'JACK', 'DARTBOARD SURRO',
       'TARGET FACE', 'BOW STRING', 'PALLET', 'ARROW NOCK', 'BOW SIGHT',
       'ARROW REST', 'BOW STABILISER', 'SKITTLES', 'ARROW PULLER',
       'FLIP CHART', 'BERGER BUTTON', 'CUE TIPS', 'CUE', 'SKI PANTS',
       'FOOT BALL', 'KEEPY UPPY TRAINER', 'CLEATED SHOES',
       'FOOTBALL BOOTS', 'FUTSAL SHOES', 'BALL NEEDLE', 'TRAINING LADDER',
       'REFEREE CARD', 'WHISTLE CORD', 'SPEED HURDLE', 'GOALKEEPER GLOV',
       'WHISTLE', 'FIVE A SIDE FOO', "CAPTAIN'S ARMBA", 'MARKER', 'BIB',
       'FIELD MARKERS', 'BOTTLE RACK', 'JUGGLING BALLS', 'BREECHES',
       'GROOMING BAG', 'JODHPUR BOOTS', 'RIDING BOOTS', 'HOOF PICK',
       'HELMET CASE', 'HALF CHAPS', 'WHIP', 'SADDLE PAD',
       'OVER REACH BOOT', 'LEAD ROPE RING', 'CURRY COMB',
       'BACK PROTECTION', 'COMB', 'HOOF BRUSH', 'STIRRUP LEATHER',
       'POLO BANDAGES', 'BRIDLE', 'HALF PADS', 'BRUSHING BOOTS',
       'GROOMING BOX', 'REINS', 'FETLOCK BOOTS', 'HEADCOLLAR', 'BITS',
       'HORSE SADDLE', 'GIRTH', 'CHILD BIKE', 'BALANCE BIKE',
       'PANNIER BAG', 'HORN', 'BIKE STABILISER', 'THREAD', 'PLIERS',
       'SWIVEL', 'CLIP', 'LEAD', 'STORAGE BOX', 'HOOKS', 'HARDBAIT',
       'MACKEREL FEATHE', 'REEL', 'SPINNER', 'ROD', 'KEEPNET',
       'SOFTBAITS', 'SCISSORS', 'JIG HEAD', 'FLOAT', 'SWIVEL CLIP',
       'LEADER', 'SURF CASTING SP', 'BRAID FISHING L', 'ROD POD',
       'LINE ATTACHMENT', 'FLUOROCARBON FI', 'LURE', 'FEEDER', 'TIP',
       'SCALE', 'PEDOMETER', 'WALKING POLES'], dtype=object)

In [31]:
# output the product_type which contains "YOGA"
df_YOGA = df.loc[df.product_type.str.contains("YOGA", na=False)]
df_YOGA

,Unnamed: 0,the_transaction_id,the_date_transaction,sku_idr_sku,product_type,sports,but_name_business_unit,ctm_customer_id,the_to_type,f_qty_item,f_to_tax_in,Date,Time
28192,28193,7-1034-1034-20200701115845-102-6107,2020-07-01 11:58:45,2024828,YOGA MAT,YOGA,Website,JHI6JH26XA,online,6,70.0,2020-07-01,11:58:45
28193,28194,7-1034-1034-20200701134436-208-4272,2020-07-01 13:44:36,1603229,YOGA MAT,YOGA,City Square SG,344SZP2JPG,offline,2,13.0,2020-07-01,13:44:36
28194,28195,7-1034-1034-20200702180041-206-924,2020-07-02 18:00:41,7210026,YOGA BLOCK,YOGA,City Square SG,0,offline,1,36.0,2020-07-02,18:00:41
28195,28196,7-1034-1034-20200703152700-206-1070,2020-07-03 15:27:00,7134760,YOGA MAT,YOGA,City Square SG,AIWX1ZOCJK,offline,5,223.0,2020-07-03,15:27:00
28204,28205,7-1034-1034-20200701150403-215-8372,2020-07-01 15:04:03,1603229,YOGA MAT,YOGA,City Square SG,TEGQ560WBE,offline,1,13.0,2020-07-01,15:04:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134915,134916,7-969-969-20201128154927-203-4026,2020-11-28 15:49:27,1603229,YOGA MAT,YOGA,Bedok SG,3E33SO2XI6,offline,3,13.0,2020-11-28,15:49:27
134923,134924,7-969-969-20201212194158-209-2350,2020-12-12 19:41:58,1603229,YOGA MAT,YOGA,Bedok SG,0,offline,3,13.0,2020-12-12,19:41:58
134928,134929,7-969-969-20201216155523-204-5409,2020-12-16 15:55:23,7210026,YOGA BLOCK,YOGA,Bedok SG,0,offline,2,36.0,2020-12-16,15:55:23
134929,134930,7-969-969-20201216155523-204-5409,2020-12-16 15:55:23,812485,YOGA BLOCK,YOGA,Bedok SG,0,offline,2,30.0,2020-12-16,15:55:23
134931,134932,7-969-969-20201219172345-212-3484,2020-12-19 17:23:45,7347152,YOGA MAT,YOGA,Bedok SG,GXNZRQ3U9Y,offline,2,79.5,2020-12-19,17:23:45

In [32]:
# extract some useful cloumns
df_yoga_cus = df_YOGA[['ctm_customer_id','the_transaction_id','product_type']]
df_yoga_cus

       ctm_customer_id                   the_transaction_id product_type
28192       JHI6JH26XA  7-1034-1034-20200701115845-102-6107     YOGA MAT
28193       344SZP2JPG  7-1034-1034-20200701134436-208-4272     YOGA MAT
28194                0   7-1034-1034-20200702180041-206-924   YOGA BLOCK
28195       AIWX1ZOCJK  7-1034-1034-20200703152700-206-1070     YOGA MAT
28204       TEGQ560WBE  7-1034-1034-20200701150403-215-8372     YOGA MAT
...                ...                                  ...          ...
134915      3E33SO2XI6    7-969-969-20201128154927-203-4026     YOGA MAT
134923               0    7-969-969-20201212194158-209-2350     YOGA MAT
134928               0    7-969-969-20201216155523-204-5409   YOGA BLOCK
134929               0    7-969-969-20201216155523-204-5409   YOGA BLOCK
134931      GXNZRQ3U9Y    7-969-969-20201219172345-212-3484     YOGA MAT

[53556 rows x 3 columns]